<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="../bald_eagle.jpg" rel="icon" type="image/x-icon">
    <title>Sito fantastico</title>
  </head>
  <body style="background-color:{{palette.background}};">
    <div class="container">
        <div style='margin-top: 12px;'>
            <nav class="navbar navbar-{{palette.navbar_text}} fixed-top" style="background-color:{{palette.navbar}};">
              <a class="navbar-brand" onclick="return_to_homepage()" id="selezionami">
                <img src="../bald_eagle.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" style="border-radius: 5px;">
                Navbar stupenda
              </a>
            </nav>
        </div>
        <div style="margin-top: 8px; background-color:{{palette.content}}; height:100%; padding: 8px; margin-top: 65px;">
            {{{body}}}
            <a class="btn btn-{{palette.button_style}} small github" href="https://github.com/tronalddump-io" target="_blank" style="margin-top: 8px;"><i></i><span>Crediti</span></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../script.js"></script>  
  </body>
</html>